{% extends "base.html" %}

{% block body %}
<div id="main" style="height: 500px;">
	<div id="content" style="height: 500px;">
		<div class="box" style='height: 500px'>
			<img class="contact-us" src="/static/images/contact_us.png" , alt="Error Occured" />
			<div class="cl">&nbsp;</div>
			<div class="flip-card" style="margin-left: 157px;">
				<div class="flip-card-inner">
				  <div class="flip-card-front">
					<img src="static/images/email.png" alt="Email" style="width:100px;height:100px; background-color: white;">
				  </div>
				  <div class="flip-card-back">
					<p style="padding-top: 30px;font-weight: 600;">rmitjobshop @gmail.com</p>
				  </div>
				</div>
			  </div>
			  <div class="flip-card" style="margin-left: 325px;margin-top: -133px;">
				<div class="flip-card-inner">
				  <div class="flip-card-front">
					<img src="static/images/whatsapp.png" alt="Email" style="width:100px;height:100px; background-color: white;">
				  </div>
				  <div class="flip-card-back">
					<p style="padding-top: 40px;font-weight: 600;">+61 XXXXXXXXXX</p>
				  </div>
				</div>
			  </div>
			  <div class="flip-card" style="margin-left: 493px;margin-top: -133px;">
				<div class="flip-card-inner">
				  <div class="flip-card-front">
					<img src="static/images/call.png" alt="Email" style="width:100px;height:100px; background-color: white;">
				  </div>
				  <div class="flip-card-back">
					<p style="padding-top: 40px;font-weight: 600;">+61 XXXXXXXXXX</p>
				  </div>
				</div>
			  </div>
			  <div class="flip-card" style="margin-left: 651px;margin-top: -133px;">
				<div class="flip-card-inner">
				  <div class="flip-card-front">
					<img src="static/images/location.png" alt="Email" style="width:100px;height:100px; background-color: white;">
				  </div>
				  <div class="flip-card-back">
					<p style="padding-top: 40px;font-weight: 600;">Melbourne<br> Victoria</p>
				  </div>
				</div>
			  </div>
		</div>
		<div class="cl">&nbsp;</div>
	</div>
	<div class="cl">&nbsp;</div>
</div>

{% endblock %}